
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.App {
  /* background:  #F8F8FF; */
}



.content>.bottom {
  background: rgb(233, 227, 227);
}

.navConten div>div {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.scrollbar {
  width: 12px; /* Độ rộng của thanh trượt */
  height: 100%; /* Chiều cao của thanh trượt */
  background-color: #888; /* Màu sắc của thanh trượt */
  position: absolute; /* Đặt vị trí tuyệt đối để đặt thanh trượt theo vị trí xác định */
  top: 0; /* Đặt vị trí thanh trượt ở trên cùng */
  right: 0; /* Đặt vị trí thanh trượt ở bên phải */
  overflow-y: scroll; /* Kích hoạt thanh trượt dọc */
}

input[type="file"] {
  display: none;
}
