.startMain {
    height: 100vh;
    width: 100%;
    background-size: cover; /* hoặc contain hoặc kích thước tùy chọn khác */
    background-repeat: no-repeat;
    background-image: url('https://png.pngtree.com/background/20211216/original/pngtree-office-learning-design-desktop-environment-posing-photography-map-with-map-picture-image_1520972.jpg');
}
